.coverFront {
    max-height: 100vh;
}

.body {
    background-image: url("/images/rect.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-inline: auto;
    align-items: center;
    justify-items: center;
}

.gridItem {
    grid-column: 1;
    grid-row: 1;
    width: 90%;
    align-self: center;
}

.gridItem:last-child {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}